{% extends "base.html" %}
{% block content %}     
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Tph9faPbUfIvbGKWJia5BzgTFZxlZ4w"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.js" type="text/javascript"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-simple-logger/0.1.7/angular-simple-logger.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.4.1/angular-google-maps.min.js"></script> 
  <script type="text/javascript">  

  angular.module('appMaps', ['uiGmapgoogle-maps'])
    .controller('mainCtrl', function($scope) {
        $scope.map = { center: { latitude: 45, longitude: -73 }, zoom: 8 };
    });
 
  </script> 

<div id="appMaps" class="container">
   
  <div id="map_canvas" ng-controller="mainCtrl" class="row">
    <style>  
      .map-wrapper {
          position: relative;
          height: 300px;
      }

      
      </style> 
      <div class="map-wrapper">
      <ui-gmap-google-map center="map.center" zoom="map.zoom"></ui-gmap-google-map>
    </div>
 </div>
</div>
  
{% endblock content %} 