body { background:transparent; }
/*fonts*/
h1 { color:#1986e4; font-size:30px; }
h2 { color:#1986e4; font-size:25px; }
h3 { color:#1986e4; font-size:20px; }
h4 { color:#191919; font-size:16px;}
h5 { color:#191919; font-size:12px;}
p { color:#191919; font-size:15px; }

/*footer*/
footer { background-color:#ededed; padding-top:20px;  }